body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.yt-icon {
    width: 14px;      /* smaller size */
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

h1 {
    margin: 0;
}

.container {
    display: grid;
    gap: 20px;
    padding: 20px;
}

/* Movie Card */
.movie {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
}

.movie img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.movie a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
}

.movie a:hover {
    text-decoration: underline;
}

.yt-icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Desktop View (>900px) */
@media (min-width: 901px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Tablet View (601px - 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile View (<601px) */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }

}
